<%- contentFor('content') %> 
<!-- About Page -->
<main>
    <div class="container text-center">
        <h1>Hello World</h1>
        <p>Welcome to my about page, <%= name %></p>
        <img src="img/smile.jpeg" alt="Smiley face">
    </div>
</main>