<%- contentFor('content') %>
<!-- 404 Not Found -->
<main class="d-flex justify-content-center vh-100">
    <div class="m-auto text-center">
        <div>Page Not Found</div>
        <div>404</div>
    </div>
</main>